<template name="employees">
    <br>
    <br>
    <br>
    <br>

    <div class="container">

        <div class="row">
            <nav>
                <ul class="pager">
                    <li><a href="#">Home</a></li>
                    <li><a href="#left-menu" id="left-menu">Video List</a></li>
                    <li><a href="#">Trending</a></li>

                </ul>
            </nav>


          </div>
    <div class="row">
        <div class="col-lg-4">
            <br>

            <h3 class="text-center">Your Favorite Videos <span class="badge">Views</span></h3>
            <div class="list-group">

                <a href="#" class="list-group-item">Defense Collar Choke <span class="badge">65</span></a>
                <a href="#" class="list-group-item">Offense Takedown <span class="badge">24</span></a>
                <a href="#" class="list-group-item">Offense Submission Leg Move <span class="badge">12</span></a>
                <a href="#" class="list-group-item">Straight Foot Lock <span class="badge">10</span></a>
                <a href="#" class="list-group-item">Wrist Lock <span class="badge">9</span></a>
                <a href="#" class="list-group-item">Bicep Slicer <span class="badge">5</span></a>
                <a href="#" class="list-group-item">Kneebar <span class="badge">3</span></a>
                <a href="#" class="list-group-item">Heel Hook<span class="badge">2</span></a>


            </div>
          </div>

        <div class="col-lg-8">
            <h3 class="text-center">Today's Top Videos</h3>
          <div class="panel panel-primary">
              <div class="panel-heading">Defensive Escape for Collar Choke</div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video1.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
                </div>
                <div class="well">
                    <p>Tags:</p>
                    <span class="label label-default">Defense</span>
                    <span class="label label-primary">Collar Choke</span>
                    <span class="label label-success">Escape</span>
                    <span class="label label-info">Jiu Jitsu</span>
                    <span class="label label-warning">Martial Arts</span>
                    <span class="label label-danger">Reversal Move</span>

                </div>
                <span class="badge text-right">Add to Favorites <i class="fa fa-plus-circle"></i></span>
            </div>
          </div>
          </div>




        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Defensive Escape for Collar Choke</div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                            <source src="Video2.mp4" type='video/mp4'>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                    <div class="well">
                        <p>Tags:</p>
                        <span class="label label-default">Defense</span>
                        <span class="label label-primary">Collar Choke</span>
                        <span class="label label-success">Escape</span>
                        <span class="label label-info">Jiu Jitsu</span>
                        <span class="label label-warning">Martial Arts</span>
                        <span class="label label-danger">Reversal Move</span>
                        <span class="label label-primary">Add to Favorites <i class="fa fa-plus-circle"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">Defensive Escape for Collar Choke</div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                            <source src="Video2.mp4" type='video/mp4'>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                    <div class="well">
                        <p>Tags:</p>
                        <span class="label label-default">Defense</span>
                        <span class="label label-primary">Collar Choke</span>
                        <span class="label label-success">Escape</span>
                        <span class="label label-info">Jiu Jitsu</span>
                        <span class="label label-warning">Martial Arts</span>
                        <span class="label label-danger">Reversal Move</span>
                        <span class="label label-primary">Add to Favorites <i class="fa fa-plus-circle"></i></span>
                    </div>
                </div>
            </div>




      </div>
    </div>

      <div class="row">
          <h4 class="text-center">Watch Again</h4>
          <hr>
          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

                  <p><b>Straight Foot Lock</b></p>
                  <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>
        </div>

      <div class="row">

          <hr>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

          <div class="col-lg-3">
              <div class="embed-responsive embed-responsive-16by9">
                  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" poster="VideoCover.jpg">
                      <source src="Video2.mp4" type='video/mp4'>
                      <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                      </p>
                  </video>
              </div>

              <p><b>Straight Foot Lock</b></p>
              <p class="text-right">1,237 Views</p>

          </div>

      </div>

      </div>
  <!--side menu content-->
    <div id="sidr">
        <br>
        <h1>All Videos</h1>
        <!-- TREEVIEW CODE -->
        <ul class="treeview">


                    <li><i class="fa fa-chevron-right"></i> Conceptual
                      <ul>
                          <li>Frame</li>
                          <li>Pressure</li>
                          <li>Connection</li>
                          <li>Base</li>
                          <li>Efficiency</li>
                          <li>Structure</li>
                      </ul>
                    </li>


                    <li><i class="fa fa-chevron-right"></i> Gi
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> Guard
                                <ul>
                                    <li><i class="fa fa-chevron-right"></i> Full Guard
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Half Guard
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Open Guard
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Butterfly Guard
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Side Control/Cross Body
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Mount
                                <ul>
                                    <li><i class="fa fa-chevron-right"></i> Full Mount
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Low Mount
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> High Mount
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>

                                    <li><i class="fa fa-chevron-right"></i> Side Mount
                                        <ul>
                                            <li>Bottom</li>
                                            <li>Top</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Back
                                <ul>
                                    <li>Front</li>
                                    <li>Back</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Turtle
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Finishes
                                <ul>
                                    <li>Arm Locks</li>
                                    <li>Chokes</li>
                                    <li>Leg Locks</li>
                                    <li>Other</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Finish Defense
                                <ul>
                                    <li>Arm Locks</li>
                                    <li>Chokes</li>
                                    <li>Leg Locks</li>
                                    <li>Other</li>
                                </ul>
                            </li>


                        </ul>
                    </li> <!-- Gi list-->

            <li><i class="fa fa-chevron-right"></i> No-Gi
                <ul>
                    <li><i class="fa fa-chevron-right"></i> Guard
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> Full Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Half Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Open Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Butterfly Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Side Control/Cross Body
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Mount
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> Full Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Low Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> High Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Side Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Back
                        <ul>
                            <li>Front</li>
                            <li>Back</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Turtle
                        <ul>
                            <li>Bottom</li>
                            <li>Top</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Finishes
                        <ul>
                            <li>Arm Locks</li>
                            <li>Chokes</li>
                            <li>Leg Locks</li>
                            <li>Other</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Finish Defense
                        <ul>
                            <li>Arm Locks</li>
                            <li>Chokes</li>
                            <li>Leg Locks</li>
                            <li>Other</li>
                        </ul>
                    </li>


                </ul>
            </li> <!--No-Gi list-->

            <li><i class="fa fa-chevron-right"></i> Specialty
                <ul>
                    <li>Take Downs</li>
                    <li>Self Defense</li>
                </ul>
            </li> <!-- Specialty List -->

            <li><i class="fa fa-chevron-right"></i> MMA
                <ul>
                    <li><i class="fa fa-chevron-right"></i> Guard
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> Full Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Half Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Open Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Butterfly Guard
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Side Control/Cross Body
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Mount
                        <ul>
                            <li><i class="fa fa-chevron-right"></i> Full Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Low Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> High Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>

                            <li><i class="fa fa-chevron-right"></i> Side Mount
                                <ul>
                                    <li>Bottom</li>
                                    <li>Top</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Back
                        <ul>
                            <li>Front</li>
                            <li>Back</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Turtle
                        <ul>
                            <li>Bottom</li>
                            <li>Top</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Finishes
                        <ul>
                            <li>Arm Locks</li>
                            <li>Chokes</li>
                            <li>Leg Locks</li>
                            <li>Other</li>
                        </ul>
                    </li>

                    <li><i class="fa fa-chevron-right"></i> Finish Defense
                        <ul>
                            <li>Arm Locks</li>
                            <li>Chokes</li>
                            <li>Leg Locks</li>
                            <li>Other</li>
                        </ul>
                    </li>
                </ul>
            </li> <!--MMA list -->



            <li>Back Cage Work</li>
            <li>Take Downs</li>



        </ul>
        <!-- TREEVIEW CODE -->
    </div>

    <script>
        $(document).ready(function() {


            $.fn.extend({
                treeview:	function() {
                    return this.each(function() {
                        // Initialize the top levels;
                        var tree = $(this);

                        tree.addClass('treeview-tree');
                        tree.find('li').each(function() {
                            var stick = $(this);
                        });
                        tree.find('li').has("ul").each(function () {
                            var branch = $(this); //li with children ul

                            branch.addClass('tree-branch');
                            branch.on('click', function (e) {
                                if (this == e.target) {
                                    var icon = $(this).children('i:first');

                                    icon.toggleClass("fa-chevron-right fa-chevron-down");
                                    $(this).children().children().toggle();
                                }
                            })
                            branch.children().children().toggle();

                            /**
                             *	The following snippet of code enables the treeview to
                             *	function when a button, indicator or anchor is clicked.
                             *
                             *	It also prevents the default function of an anchor and
                             *	a button from firing.
                             */
                            branch.children('.tree-indicator, button, a').click(function(e) {
                                branch.click();

                                e.preventDefault();
                            });
                        });
                    });
                }
            });

            /**
             *	The following snippet of code automatically converst
             *	any '.treeview' DOM elements into a treeview component.
             */

                $('.treeview').each(function () {
                    var tree = $(this);
                    tree.treeview();
                });

            $('#left-menu').sidr();

        });
    </script>
</template>
